#modal-geo-info.modal.in{ tabindex: '-1', data: { clone_url_secondary: h(default_url_to_repo(project)), clone_url_primary: h(geo_primary_default_url_to_repo(project)) } }
  .modal-dialog
    .modal-content
      .modal-header
        %h3.page-title
          How to work faster with Geo
        %a.close{ href: "#", "data-dismiss" => "modal" } ×
      .modal-body
        %p
          %strong= 'Step 1.'
          Clone the repository from your secondary node:
        .form-group
          .input-group
            %input#geo-info-1.form-control{ value: "git clone " + default_url_to_repo(), readonly: "readonly" }
            .input-group-append
              = clipboard_button(target: '#geo-info-1', class: "btn-default", container: "#modal-geo-info")
        %p
          %strong= 'Step 2.'
          Go to the new directory and define
          %strong= "primary node's"
          repository URL as the
          %strong= 'push'
          remote:
        .form-group
          .input-group
            %input#geo-info-2.form-control{ value: "git remote set-url --push origin &lt;clone url for primary repository&gt;", readonly: "readonly" }
            .input-group-append
              = clipboard_button(target: '#geo-info-2', class: "btn-default", container: "#modal-geo-info")
        %p
          %strong= 'Done.'
          You can now commit and push code as you normally do, but with increased speed.
